@{
    ViewData["Title"] = "Topic Page";
}

<p>
    @ViewData["id"]
</p>

<articles topic-id='@ViewData["id"]'></articles>

@if(ViewData["AuthUser"] == null)
{
    <i>Необходимо войти в систему</i>
}
else
{
    var user = ViewData["AuthUser"] as WebApplicationClassWork.DAL.Entities.User;

    <b>Добавить комментарий</b>
    <br />
    <textarea id="article-text" data-author-id="@user.Id" data-topic-id="@ViewData["id"]" data-datetime="@DateTime.Now"></textarea>
    <br />
    <span>Добавить картинку:</span>
    <input type="file" name="picture">
    <br />
    <button id="button-publish">Опубликовать</button>
}

<script src="~/js/topic.js"></script>